@use "base" as *;

.view-kurier{



    .view__content{
        grid-column: 1/-1;
        grid-row: 1/-1;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        height: 100vh;
        min-height: 0;


       .paczki-list-box{
            grid-column: 1/4;
            border: 2px solid $color-quaternary;
            overflow-y: scroll;
            grid-row: 1 / -1;

            .kurier-filters{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                background-color: #ae7790;

                &__row{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    flex-direction: column;


                }

                &__label{
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    color: $color-quaternary;
                }

                &__select{
                    border: 2px solid #54483a;
                    box-shadow: 2px 2px 5px #0000001a;
                    background-color: #f4e8d6;
                    font-size: 1.3rem;
                    width: 30rem;
                    font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
                    padding: 0.5rem 1rem;
                }

                &__clear{
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                    border: 2px solid $color-quaternary;
                    background-color: $color-yellow;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: $font-primary;
                    transition: all 0.3s;

                    &:hover{
                        background-color: lch(51.44% 45.84 82.25);
                        color: white;
                    }

                    &:active{
                        transform: translateY(2px);
                    }
                }





               
            }
       }

        .paczki__list{
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 100vh;
            height: 100%;
        
            overflow-x: hidden;
            gap: 1.5rem;
            padding: 2rem 0;
            margin-bottom: 20rem;
            

            .paczki__item{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);

                height: 13rem;
                width: 40rem;


                padding: 10px 15px;

                border: 3px solid $color-quaternary;

                color: $color-grey-dark-1;

                background-color: transparent;

                text-align: left;

                font-size: 1.4rem;

                font-family: $font-primary;

                transition: all 0.3s;

                box-shadow: 0 2px 5px rgba(0,0,0,0.1);

                cursor: pointer;

                &-left{
                    grid-column: 1 / -1;
                    grid-row: 1 / 3;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around
                }

                &-right{
                    grid-column: 3 / -1;
                    grid-row: 3 / 4;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: fit-content;

                    padding: 0.35rem 0.8rem;
                    margin: 0.5rem 0 0 0;
                    border: 0;
                    color: black;
                    background-color: $color-yellow;
                    text-align: center;
                    font-size: 1.1rem;
                    font-family: monospace;
                    text-transform: uppercase;
                    border-radius: 999px;
                    white-space: nowrap;
                    justify-self: end;
                    align-self: start;

                }

                &:hover{
                    color: white;

                    background-color: $color-quaternary;

                    transform: scale(1.02);
                }



            }

            .is-active{
                color: white;

                background-color: $color-quaternary;
            }


        
        }

        .paczka-details{
            grid-column: 4 / -1;
            grid-row: 1 / -1;
            height: 100%;

            color: white;
        


            overflow-y: auto;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .hidden{
                display: none;
            }   

            .view-kurier__paczka-details{
       
                &__row{
                    display: flex;
                    flex-direction: column;
                  
                }


                &__buttons{
                    #kurier-dostarcz-btn, #kurier-odebrana-btn{
                        padding: .5rem 1rem;
                        font-size: 1.2rem;
                        border: 2px solid #943f5e;
                        background-color: #d5a43a;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
                        transition: all .3s;
                

                    &:hover{
                        background-color: #943f5e;
                        color: #f4e8d6;

                
                    }

                    &:active{
                        transform: translateY(2px);
                    }
                }

                }

                &__box{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: auto auto auto 1fr;
                    margin: 15rem auto;
                    margin-bottom: 2rem;

                    width: 75%;
                    height: auto;
                    border: 3px solid $color-quaternary;

                        &-section{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            background-color: #333;
                            padding: 2rem;
                            gap: 1rem;
                            border-bottom: 1px solid #ffffff;


                        }

                        &-general-info{
                            grid-column: 1 / -1;
                            grid-row: 1 / 3;

                            grid-template-rows: repeat(3, 1fr);

                            &--sender, &--parcel-number, &--status, &--deadline{
                                display: inline-flex;
                                flex-direction: column;
                            }

                            &--sender{
                                grid-column: 1 / -1;
                                grid-row: 1/2;
                            }

                            &--parcel-number{
                                grid-column: 1 / -1;
                                grid-row: 2 / 3;
                            }

                            &--status{
                                grid-column: 1 / 3;
                                grid-row: 4 / -1;

                            }

                            &--deadline{
                                grid-column: 3 / -1;
                                grid-row: 4 / -1;
                            }


                    
                    
                        }

                        &-locker-info{
                            grid-column: 1 / -1;
                            background-color: rgb(99, 99, 99);
                            

                            &--name, &--location{
                                display: inline-flex;
                                flex-direction: column;
                            }

                            &--name{
                                grid-column: 1 / -1;
                                grid-row: 1/2;
                            }   

                            &--location{
                                grid-column: 1 / -1;
                                grid-row: 2 / 3;
                            }
                        }

                        &-events{
                            grid-column: 1 / -1;
                            grid-row: 5 / -1;
                            border: none;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            #package-history-label{
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                margin-bottom: 1rem;
                            }
                            
                            .paczka-events{
                            display: flex;
                            flex-direction: column;
                            gap: 1.2rem;

                            width: 100%;
                        }

                        .paczka-event{
                            display: flex;
                            gap: 1.2rem;

                            width: 100%;

                            &__top{
                                font-size: 1.2rem;
                                font-family: monospace;
                            }
                        }



                        .paczka-event__timeline{
                            position: relative;

                            display: flex;

                            justify-content: center;

                            width: 1.6rem;
                        }

                        .paczka-event__dot{
                            width: 0.9rem;
                            height: 0.9rem;

                            border-radius: 999px;

                            background-color: $color-quaternary;

                            margin-top: 0.35rem;
                        }

                        .paczka-event__line{
                            position: absolute;

                            top: 1.35rem;
                            left: 50%;

                            width: 2px;
                            height: calc(100% + 1.2rem);

                            background-color: $color-quaternary;

                            transform: translateX(-50%);
                        }

                        
                        }

                        &-actions{
                            grid-column: 1 / -1;
                            grid-row: 4 / 5;

                            display: flex;
                            flex-direction: column;

                           
                            gap: 2rem;
                            padding: 2rem;
                            background-color: rgb(99, 99, 99);

                            #kurier-skrytka-select{
                                border: 2px solid #54483a;
                                box-shadow: 2px 2px 5px #0000001a;
                                background-color: #f4e8d6;
                                font-size: 1.3rem;
                                width: 60%;
                                font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
                                padding: 1rem 1.5rem;
                            }
                        }

                        .span-label{
                            margin-bottom: 0.5rem;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            color: rgb(183, 183, 183);

                            
                        }

                        .span-value{
                        font-size: 1.6rem;
                        font-family: monospace;
                        

                    }
            }
        }
        }
        



}

}

#kurier-locker-display{
    margin-bottom: 60rem;
}

