@use "base" as *;
.header{
    grid-column: full-start / -1;
    grid-row: header-row-start / header-row-end;
    background-color: $color-grey-light-1;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    &__button{
        background: none;
        border: 2px solid $color-grey-dark-1;
        padding: 0.8rem 1.5rem;
        font-size: 1.6rem;
        font-family: $font-primary;
        text-transform: uppercase;
        color: $color-grey-dark-1;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
            background-color: $color-grey-dark-1;
            color: white;
        }
    }
}