@use "base" as *;


.main--login,
.main--register {


  border: 2px solid $color-grey-dark-1;
  color: $color-primary-light;
  background-color: rgba($color-quaternary, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  .login-entry,
  .register-entry {
    grid-column: 1 / 4;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .login-svg,
  .register-svg {
    grid-column: 4 / -1;
    grid-row: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    img {
      width: 80%;
      height: auto;
    }
  }

  .login-header,
  .register-header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    text-align: center;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .login-section,
  .register-section {
    grid-column: 2 / -2;
    grid-row: 1 / 7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    text-transform: uppercase;

    &__login-error {
      display: flex;
      color: $color-danger;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      height: 5rem;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
        align-items: center;

        &--label {
          font-size: 1.4rem;
          font-family: $font-primary;
          text-transform: uppercase;
          color: $color-primary-light;
          width: 6rem;
        }

        &--input {
          flex: 2;
          padding: 0.8rem 1.5rem;
          width: 100%;
          font-size: 1.6rem;
          font-family: $font-primary;
          border: 2px solid $color-grey-dark-1;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          background-color: $color-primary-light;

          &:focus {
            outline: none;
            border-color: $color-primary;
          }
        }

        &--button {
          background-color: $color-primary-light;
          border: 2px solid $color-grey-dark-1;
          padding: 0.8rem 1.5rem;
          font-size: 1.6rem;
          font-family: $font-primary;
          text-transform: uppercase;
          color: $color-grey-dark-1;
          cursor: pointer;
          transition: all 0.3s;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

          grid-column: 1 / -1;

          &:hover {
            background-color: $color-grey-dark-1;
            color: white;
          }

          &:active {
            background-color: $color-primary;
            color: white;
            transform: translateY(2px);
          }
        }

        &--actions {
          align-items: center;
          justify-content: center;
        }
      }

      #register-link-paragraph {
        font-size: 1.4rem;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        text-align: center;
        color: $color-primary-light;
      }

      #register-link-href {
        color: #ffb621;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.container--register {
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.main--login{
    grid-column: 3 / -2;
    grid-row: 4 / 11;
}

.main--register{
    grid-column: 3  / -3;
    grid-row:  4 /  -3;

    .register-section__form-row--label{
         width: 12rem;
         margin-right: 1rem;
    }

}

.login__heading--1{
    grid-row:  2 / 3;
    grid-column: 1/-1;
}

.register__heading--1{
    grid-column: 1 / -1;
    grid-row:  2 /  3;
}

.login__heading--2,
.register__heading--2 {
  font-size: 4rem;
  font-weight: 400;
}

.login__subheading,
.register__subheading {
  font-size: 2rem;
  font-weight: 100;
}





