@use "base" as *;

.main{
    grid-column:  2 /  -1;
    grid-row:  2 / -1;

    display: grid;
    width: 100%;


    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;


    


    .buttons-cities{

        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        position: absolute;
        background-color: #ae7790;
        z-index: 10;
          


        &__city-button{
            background: none;
            border: 2px solid $color-grey-dark-1;
            padding: 0.8rem 1.5rem;
            font-size: 1.6rem;
            font-family: $font-primary;
            text-transform: uppercase;
            color: $color-grey-dark-1;
            cursor: pointer;
            transition: all 0.3s;

            &:hover{
                background-color: $color-grey-dark-1;
                color: white;
            }

            &:active{
                background-color: $color-grey-dark-1;
                border-color: $color-primary;
                color: white;
            }


        }
    }

    .list-lockers-in-city{
        margin: 20px;
        grid-column: 2 / -2;
        grid-row: 3;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        top: 10rem;



        &__locker-button{
            border: none;
            font-size: 1.4rem;
            font-family: $font-primary;
            color: $color-grey-dark-1;
            margin-bottom: 10px;
            width: 60%;
            padding: 10px 15px;
            transition: all 0.3s;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-align: left;

            &:hover{
                background-color: $color-quaternary;
                color: white;
                cursor: pointer;
                transform: scale(1.02)
            }

            &:active{
                background-color: $color-primary;
                color: white;
                transform: translateY(2px);
            }
        }


    }

    .locker-display{

        grid-row: 2 / -1;
        grid-column: 1 / -1;
        
        &__grid-container{
            display: grid;
            gap: 3px;

            width: 100%;
            max-width: 900px;
            margin: 20px auto;
        }

        &__locker{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: 2px solid #943f5e;;

            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 11px;
            white-space: pre-line;
            text-align: center;

            background-color: #eaeaea;
            transition: transform 0.15s ease;

            cursor: pointer;
            transition: transform 0.15s ease, box-shadow 0.15s ease;

            &:hover{
                transform: scale(1.03);
                box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            }


            /* STATUSY */

            &--status{
                &-WOLNA {
                    background-color: $color-yellow;
                    color: #111;
                }

                &-ZAJETA {
                    background-color: #000000;
                    color: #fff;
                }

                &-USZKODZONA {
                    background-color: #600202;
                    color: #fff;
                }

            }
      
        }

        &__locker-name{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 10px;
            color: $color-primary-light;
        }

        &__info{
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            text-align: center;
            font-size: 1.4rem;
            font-family: $font-primary;
            text-transform: uppercase;
            color: $color-primary-light;
            margin: 0 20px;

            &-title{
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 3rem;
            }
        }
    }


    .isActive{
        background-color: $color-grey-dark-1;
        border-color: $color-primary;
        color: white;
    }

    .hidden{
        display: none;
    }


}







